
\.DS_Store
\build/
\dist/
\.idea/
tests/high_level/

autode/__pycache__/

autode\.egg-info/

.coverage

coverage.xml

autode/cconf_gen.c

tests/__pycache__/

autode/conformers/__pycache__/

autode/transition_states/__pycache__/

*.pyc

.vscode/.ropeproject/

autode/conformers/cconf_gen.c

autode/._config.py

autode/transition_states/lib/Substitution/

examples/diels_alder/

examples/diels_alder/conformers/

examples/diels_alder/optimise_reactants_and_products/

examples/diels_alder/tss/

examples/diels_alder/single_points/

examples/elimination/

examples/elimination/conformers/

examples/elimination/optimise_reactants_and_products/

examples/elimination/tss/

examples/elimination/single_points/

examples/sn2/

examples/sn2/conformers/

examples/sn2/optimise_reactants_and_products/

examples/sn2/tss/

examples/sn2/single_points/

examples/diazene_addition/

examples/diazene_addition/conformers

*.log