\build/
\dist/
\.idea/
.eggs/
**__MACOSX/
autode/ext/*.cpp
**cmake-build-debug/
autode/ext/CMakeFiles/
**/__pycache__/
autode\.egg-info/
doc/_build/
**.DS_Store
**htmlcov/
.coverage
coverage.xml
tests/*.xyz
**/tmp.xyz
*.c
*.so
*.inp
*.pyc
.autode_calculations
