name: catch

on: [push, pull_request]

env:
  BUILD_TYPE: Release

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Create Build Environment
        working-directory: $GITHUB_WORKSPACE/autode/ext/
        run: cmake -E make_directory build

      - name: Configure CMake
        shell: bash
        working-directory: $GITHUB_WORKSPACE/autode/ext/build
        run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

      - name: Build
        working-directory: $GITHUB_WORKSPACE/autode/ext/build
        shell: bash
        run: cmake --build . --config $BUILD_TYPE

      - name: Test
        working-directory: $GITHUB_WORKSPACE/autode/ext/build
        shell: bash
        run: ctest -C $BUILD_TYPE --extra-verbose
