name: "Lint"

on:
  push:
  pull_request:

jobs:
  CodeQL:
    runs-on: ubuntu-latest
    permissions:
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v3

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0
        with:
          extra_args: --all-files

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: python, cpp

      - name: Install build requirements
        run: pip3 install cython

      - name: Autobuild
        uses: github/codeql-action/autobuild@v2

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
