name: pytest_codecov

on:
  push:
    branches:
      - master
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    paths-ignore:
      - 'doc/**'
      - 'examples/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Env (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10"]

    defaults:
      run:
        shell: bash -l {0}
        
    steps:
    - uses: actions/checkout@v2
        
    - uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}
        channels: conda-forge,defaults
        auto-update-conda: true

    - name: Install
      run: |
        conda activate test
        conda install --file requirements.txt
        conda install --file tests/requirements.txt
        conda install xtb
        python -m pip install . --no-deps

    - name: Test
      run: |
        pytest --cov=./ --cov-report=xml

    - uses: codecov/codecov-action@v3
      with:
        flags: unittests
        fail_ci_if_error: true
