name: pytest_codecov

on:
  push:
    branches:
      - master
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    paths-ignore:
      - 'doc/**'
      - 'examples/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Env (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        python-version: ["3.11"]

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v3

    - uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: ${{ matrix.python-version }}
        activate-environment: test
        channels: conda-forge

    - name: Install mamba solver
      run: |
        conda install -n base conda-libmamba-solver

    - name: Install
      run: |
        conda install \
          --file requirements.txt \
          --file tests/requirements.txt \
          --channel conda-forge \
          --solver=libmamba
        source .github/scripts/install_xtb_ci.sh
        python -m pip install . --no-deps

    - name: Test
      run: |
        pytest --cov=./ --cov-report=xml

    - uses: codecov/codecov-action@v4
      with:
        flags: unittests
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }} # required
