name: pytest

on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
      - 'doc/**'
      - 'examples/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Env (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        python-version: ["3.8", "3.9", "3.10"]
      
    defaults:
      run:
        shell: bash -l {0}
        
    steps:
    - uses: actions/checkout@v2
        
    - uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}
        channels: conda-forge,defaults
        auto-update-conda: true

    - name: Install
      run: |
        conda activate test
        conda install --file requirements.txt
        conda install --file tests/requirements.txt
        python -m pip install . --no-deps

    - name: Test
      run: |
        py.test tests/
