name: pytest

on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
      - 'doc/**'
      - 'examples/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Env (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.8", "3.9", "3.10"]

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v3

    - uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}
        activate-environment: test
        channels: conda-forge

    - name: Install mamba solver
      run: |
        conda install -n base conda-libmamba-solver

    - name: Install
      run: |
        conda install \
          --file requirements.txt \
          --file tests/requirements.txt \
          --channel conda-forge \
          --solver=libmamba
        python -m pip install . --no-deps

    - name: Test
      run: |
        py.test tests/
